.appHeader {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.appLayout {
  max-width: 37.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
